@import url(normalize.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

/* 변수 */
:root {
  --base-unit: 27px;
  --container: 1296px;
  --highlight-c: #9ac75b;
  --highlight-cark-c: #55762c;
  --text-c: #2c2c2c;
  --light-text-c: #a8a8a8;
  --light-txt: #6e6e6e;
  --banner-c: #2d3e4f;
  --light-c: #ebebeb;
}

/* 레이아웃 */
.container {
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
}
.con_pd {
  padding: calc(var(--base-unit) * 3) 0;
}
.con_top_pd {
  padding-top: calc(var(--base-unit) * 3);
}
hr {
  border: none;
  /* border-top: 1px solid var(--light-c); */
  height: 1px;
  background-color: var(--light-c);
  margin: 0;
}
/* 제목 위계 */
body {
  /* font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 27px; */
  font: 16px / var(--base-unit) 'Open Sans', sans-serif;
  color: var(--text-c);
}
.banner_tt {
  font-size: 55px;
  line-height: calc(var(--base-unit) * 2);
  text-transform: uppercase;
  color: #3a99d8;
}
.content_tt {
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;
  margin-bottom: var(--base-unit);
}
.link {
  text-decoration-line: underline;
  color: var(--highlight-c);
}
.content_desc {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
section > .content_desc {
  margin-bottom: calc(var(--base-unit) * 3);
}

/* 색상 */
.highlight-bg {
  background: var(--highlight-c);
}
.light-bg {
  background: var(--light-c);
}
.light-txt {
  color: var(--light-txt);
}
.highlight-txt {
  color: var(--highlight-cark-c);
}

/* 링크 버튼 폼 */
.btn {
  border-radius: 4px;
  line-height: 39px;
  padding: 0 20px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.btn span {
  line-height: 39px;
  display: inline-block;
  vertical-align: bottom;
}
.big {
  line-height: 54px;
}

/* 헤더 */
body > header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
  padding: var(--base-unit) 24px;
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}
body > header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menubutton {
  display: none;
}
body > header nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
body > header nav ul li:first-child {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: var(--light-text-c);
  word-spacing: 2px;
  margin-right: 70px;
}
body > header nav ul li:first-child a {
  color: var(--text-c);
}
/* [옛날 방식] 
  body > header h1 a { 
  background-image: url(../images/Logo.png);
  width: 161px;
  height: 54px;
  text-indent: 100%;
  overflow: hidden;
  display: block;
} */
body > header h1 a span {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* before/after로 만든 요소는 inline이기 때문에 크기가 없음 */
body > header h1 a:before {
  content: '';
  /* background-image: url(../images/Logo.png);
  background-repeat: no-repeat; */
  background: url(../images/Logo.png) no-repeat;
  width: 161px;
  height: 54px;
  display: block;
}

.banner {
  margin: calc(var(--base-unit) * 4) 0 0 0;
  text-align: center;
  background-color: var(--banner-c);
}

footer .cta {
  text-align: center;
  background: #292c2e;
}
footer .cta h2 {
  color: #fff;
}
footer .cta p {
  color: var(--light-text-c);
  margin: var(--base-unit) 0 calc(var(--base-unit) * 2);
}
footer .copyright {
  text-align: center;
}
footer .copyright p + p {
  margin-top: var(--base-unit);
}

.slidewrapper {
  position: relative;
}
.slidewrapper > span {
  position: absolute;
  top: 50%;
  font-size: 45px;
  line-height: 45px;
  color: var(--light-c);
  transform: translateY(-50%);
  cursor: pointer;
}
.slidewrapper .prev-btn {
  right: calc(100% + 20px);
}
.slidewrapper .next-btn {
  left: calc(100% + 20px);
}

@media (max-width: 768px) {
  .slidewrapper .prev-btn {
    left: 0;
    right: inherit;
  }
  .slidewrapper .next-btn {
    right: 0;
    left: inherit;
  }
}
  
@media (max-width: 480px) {
  body>header {
    padding: var(--base-unit) 18px;
  }

  body>header>div {
    flex-direction: column;
    gap: var(--base-unit);
    /* display: flex; */
    /* justify-content: space-between;
    align-items: center; */
  }

  body>header nav ul {
    gap: 23px;
  }
  body > header nav ul li:first-child {
    word-spacing: 0;
    margin-right: 0px;
  }
  .btn span {
    font-size: 14px;
  }
  .btn span:first-child {
    margin-right: 3.2px;
  }
  .mobilemenu {
    display: none;
  }
  .menubutton {
    display: block;
    position: fixed;
    top: 44px;
    right: 24px;
    font-size: 22px;
    color: #000;
    z-index: 999;
  }
}


  
